.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  z-index: 10;
}

.modal-child{
  position: absolute;
  height: 100%;
  left: 27%;
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: white;
}

.create-new-feed-container{
  padding-left: 120px;
  padding-top: 30px;
  width: 600px;
  float: left;
}
.news-feed-header{
  font-weight: 700;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.news-feed-description{
  color: gray;
  font-size: 20px;
  padding-bottom: 30px;
}
.close-x{
  top:10px;
  left:10px;
  margin-top:10px;
  margin-left:10px;
  color: #a9a9a9;
}
.create-feed-button{
  background-color: #4cb69f;
  color: white;
  position: relative;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  line-height: 1rem;
  margin-top: 2px;
  margin-right: 0.5rem;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: top;
  width:80px;
  height:38px;
  cursor: pointer;
}
.create-feed-cancel{
  cursor: pointer;
  border: 1px solid #d8d8d8;
  background-color: white;
  color: black;
  position: relative;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  line-height: 1rem;
  margin-top: 2px;
  margin-right: 0.5rem;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  width:80px;
  height:38px;
  transition: 0.3s
    background-color
    ease;
}

.feed-input-title{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.create-feed-input{
  width: 600px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-left: 7px;
  margin-bottom: 10px;
  font-size: 16px;
}
.required-tag{
  font-size: .7rem;
  color:gray;
  padding-left: 15px;
}