.login-signup{
  display: flex;
  justify-content: space-evenly;
}

.login-form-container {
  margin:auto;
  width: 320px;
  border: 1px solid gray;
  padding: 10px 10px 10px 10px;
  align-items: center;
  margin-top: 75px;
}

.session-navLink {
  text-decoration: underline;
  color: gray;
}

.session-submit {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 24px;
  width:300px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  margin-top: 15px;
}

.session-center-container{
  align-items: center;
}

.welcome-msg {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-input {
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid gray;
height: 40px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
}

.demo-submit {
  background-color: blue;
  border: none;
  width: 300px;
  color: white;
  padding: 10px 24px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  
}

input {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  box-sizing: border-box;
  width: 300px;
  display: inline-block;

}