.login-signup{
  display: flex;
  justify-content: space-evenly;
}

.login-form-container {
  
  
  margin: auto;
  width: 500px;
  display: flex;
  border: 1px solid #d6d6d6;
  
  justify-content: center;
  margin-top: 25px;
  height: 600px;
  font: helvetica;
  font-size: 19px;
  padding-bottom: 20px;
}

.login-form {
  display: inline-block;
  width: 400px;
  margin-left: 100px;
  padding-top: 25px;
}

.error-msg {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  list-style-type: none;
}

.session-navLink {
  text-decoration: underline;
  color: gray;
  margin-left: 100px;
}

.session-submit {
  background-color: #2bb24c;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size:16px;
  padding: 10px 24px;
  width:300px;
  height: 50px;
  display: inline-block;
  
  text-align: center;
  margin-top: 15px;
  border: 1px solid 2bb24c;
  border-radius: 4px;
}
.session-submit:hover{
  background-color: #3cb371;
}

.demo-submit {
  background-color: #6781c7;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size:16px;
  height: 50px;
  padding: 10px 24px;
  width:300px;
  display: inline-block;
  
  text-align: center;
  margin-top: 15px;
  border: 1px solid 1E90FF;
  border-radius: 4px;
  margin-left: 100px;
}
.demo-submit:hover{
  background-color: #4169E1;
}

.session-center-container{
  
  display: inline-block;
  margin-top: 30px;
  
  
}

.welcome-msg {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  
  
}

.login-input {


border: 1px solid #d6d6d6;
height: 40px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
border: 1px solid #d6d6d6;
border-radius: 3px;
font-size: 20px;
font: helvetica;
}



label {
  display: inline-block;
  float: left;
  clear: left;
  
}

input {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  box-sizing: border-box;
  width: 300px;
  font-size: 13px;
  display: inline-block;
  border: 1px solid #d6d6d6;
}