// Place all the styles related to the api/Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-title{
  cursor:pointer;
}
.image-class{
  height: 50px;
  width: 50px;
}
.margin-bottom-show{
  
    margin-bottom: 40px;
    margin-left: 20px;
    padding-left: 17px;
    margin-right: -23px;
    padding-right: 23px;
    padding-bottom: 50px;
    display:block;
  
}
.margin-bottom-show-list{
  
  width: 250px;
  position: fixed;
  top: 30%;
  left: 75%;
  line-height:30px;

  border: 1px solid #a9a9a9;
}
.dropdown-tab{
  width:250px;
  height:30px;  
  border: 1px solid #a9a9a9;
  display:flex;
  
}
.dropdown-tab-container{
  width:175px;
  height:27px;  
}
.dropdown-tab-title{
  width:175px;
  height:27px; 
}
.add-source{
  
  cursor:pointer;
  display:inline;
  font-size: 25px;


  color: 2px solid green;
  border: 2px solid green;
  border-radius: 50%;

}
.delete-source{
  font-size: 25px;
  display:inline;
  margin-left: 10px;
  margin-right: 10px;
  color: 2px solid red;
  border: 2px solid red;
  border-radius: 50%;
}
.add-source:hover{
background-color: green;
}