// Place all the styles related to the api/Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.source-container{
  top: 110px;
  position: relative;
  left: 400px;
  max-width: 800px;
  width: 800px;
  margin-bottom: 120px;
}

.source-list-container{

}

.source-ul{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.source-li{
  width: 180px;
  height: 250px;
  background: #4cb69f;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.source-description{
  width: 550px;
  word-wrap: break-word;
  padding-bottom: 40px;
}

.article-title{
  cursor:pointer;
}

.image-class{
  // height: 50px;
  // width: 50px;
}

.margin-bottom-show-list{
  width: 18%;
  position: fixed;
  top: 35%;
  right: 50px;
}

.dropdown-tab{
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
}

.dropdown-tab-container{
  width:175px;
}

.dropdown-tab-title{

}

.add-source{
  cursor:pointer;
}

.delete-source{
  font-size: 25px;
  display:inline;
  margin-left: 10px;
  margin-right: 10px;
  color: 2px solid red;
  border: 2px solid red;
  border-radius: 50%;
}
.add-source:hover{
background-color: green;
}