.landing {
  margin-top: 75px;
}


h2 {
  color: black;
  font-size: 2.4rem;
}

.splash{
  font-family: sans-serif;
}

.splash {

}

.login-button {
  color: gray;
  border: 1px solid gray;
  padding: 6px 17px 6px 17px;
  border-radius: 3px;
  margin: 0px 5px;
}

.splash-div {
  background: white;
  padding-top: 10px;

}

.container-centered {
  align-items: center;
  max-width: 888px;
  margin: 0px 435px 00px 435px;
  padding-top: 10px;
}

.get-started {
  background:#e9e9e9;
  height: 400px;
}

.discover {
  background:white;
  height: 400px;
}

.signup-link {
  color: white;
  background-color: green;
  font-size: 13px;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;

  border-top: 1px black;
  border-right: 1px black;
  border-bottom: 1px black;
  border-left: 1px black;
}
