// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: flex;
}

.header-button {
  
    background-color: blue;
    border: none;
    width: 100px;
    color: white;
    
    display: inline-block;
    border-radius: 2px;
    text-align: center;
  
}

